@import url("reset.css");

main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100vh;
}

main > .container {
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  padding: 1rem;
}

.container > section {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}
